.markdown-content {
  line-height: 1.6;
}

.markdown-content p {
  margin-bottom: 1.2em;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  margin-top: 1.5em; /* Adjust as needed */
  margin-bottom: 0.5em; /* Adjust as needed */
}

.markdown-content ul,
.markdown-content ol {
  margin-bottom: 1.2em;
  padding-left: 1.5em;
}

.markdown-content blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 3px solid #ccc;
}

.markdown-content pre {
  background-color: #f8f8f8;
  padding: 0.5em;
  overflow-x: auto;
  border-radius: 4px;
}

.markdown-content code {
  background-color: #1d1d1d;
  padding: 0.1em 0.3em;
  border-radius: 3px;
}

.markdown-content a {
  color: #007bff;
}
