@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.w-full {
  width: 100% !important;
}
body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
  background-color: rgb(221, 221, 221);
}

html.dark body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  border-radius: 3rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #fe2635;
  border-radius: 3rem;
}
.message-char {
  opacity: 0; /* Initially invisible */
  animation: revealMessage 1s ease-in-out forwards;
}

@keyframes revealMessage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cardDescription {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /* Number of lines to show */
  max-height: 3rem; /* Adjust based on font size and line height */
}

.chats::-webkit-scrollbar {
  width: 0.6em;
}

.chats::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
  background-color: rgb(221, 221, 221);
}

html.dark .chats::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  border-radius: 3rem;
}
.chats::-webkit-scrollbar-thumb {
  background-color: #fe2635;
  border-radius: 3rem;
}
.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  transform-origin: center bottom;
  animation: fall 4s linear infinite;
}

.confetti.square {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}
.confetti.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
html,
body {
  scroll-behavior: smooth;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(720deg);
  }
}
.cl-internal-b3fm6y {
  display: none !important;
}
.text-card-foreground {
  border: none !important ;
}
.cl-internal-wkkub3 {
  display: none !important;
}
.transition-width {
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.transition-h {
  transition-property: hight;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.main-bg {
  transition: all 0.1s ease-in-out;
  background-color: #fe2635;
  color: white;
  border: 1px solid #fe2635 !important;
}
.main-color {
  color: #fe2635;
}
.main-bg:hover {
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
}

.primary-bg {
  transition: all 0.1s ease-in-out;
  background-color: transparent;
  border: 1px solid #fe2635 !important;
  color: #fe2635;
}
.primary-bg:hover {
  background-color: #fe2635;
  border: 1px solid #fe2635 !important;
  color: white;
}
.dark .main-bg:hover {
  background-color: transparent;
  color: white !important;
}

.force-flex {
  display: flex !important;
}

.gt-text {
  /* background-clip: text; */
  background: linear-gradient(90deg, #fa5b5e, #009a8f, #a71086bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
